* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
del {
  text-decoration: line-through;
}
body {
  font-family: "Inter";
  font-size: 17px;
  color: #010100;
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 400;
}
input,
textarea,
select {
  font-family: "Inter";
  font-weight: 400;
}

a {
  color: #010100;
}
.thumb {
  display: block;
}
.thumb img {
  display: block;
  width: 100%;
}
p {
  line-height: 1.6em;
  font-size: 16px;
  font-family: "Inter";
  font-weight: 400;
}
.hidden {
  display: none;
}
br.clear {
  clear: both;
  line-height: 0;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}
.dup {
  width: 95%;
  margin: 0 auto;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.woff") format("woff2"),
    url("./fonts/Inter-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Bold.woff") format("woff2"),
    url("./fonts/Inter-Bold.woff2") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-SemiBold.woff") format("woff2"),
    url("./fonts/Inter-SemiBold.woff2") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
header {
}

header section.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 0px;
  margin: 0px 154px;
}

header section.container nav.left {
}

header section.container nav.left h1 {
}

header section.container nav.left h1 a {
  display: inline-block;
}

header section.container nav.left h1 a img {
  width: 100%;
  display: block;
}

header section.container nav.middle {
}

header section.container nav.middle ul {
  display: flex;
  align-items: center;
}

header section.container nav.middle ul li {
  margin-left: 55px;
}
header section.container nav.middle ul li:first-child{
  margin-left: 0px;
}

header section.container nav.middle ul li a {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
}

header section.container nav.right {
}

header section.container nav.right ul {
  display: flex;
  align-items: center;
}

header section.container nav.right ul li {
  margin-left: 30px;
}
header section.container nav.right ul li:first-child {
  margin-left: 0px;
}
header section.container nav.right ul li a {
  display: inline-block;
}

header section.container nav.right ul li a span {
  display: inline-block;
}

header section.container nav.right ul li a span img {
  width: 100%;
  display: block;
}
header section.container nav.right ul li a span.cart {
  display: inline-block;
  background: #fe8c0a;
  border-radius: 9px;
  padding: 10px 10px;
}

header section.container nav.right ul li a span.cart img {
  width: 100%;
  display: block;
}
