* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
del {
  text-decoration: line-through;
}
body {
  font-family: "Inter";
  font-size: 17px;
  color: #3a2929;
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 400;
}
input,
textarea,
select {
  font-family: "Inter";
  font-weight: 400;
}

a {
  color: #3a2929;
}
.thumb {
  display: block;
}
.thumb img {
  display: block;
  width: 100%;
}

.hidden {
  display: none;
}
br.clear {
  clear: both;
  line-height: 0;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1440px;
}
@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("./fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-SemiBold.woff2") format("woff2"),
    url("./fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.woff2") format("woff2"),
    url("./fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
header {
}

header section.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 0px;
  margin: 0px 154px;
}

header section.container nav.left {
}

header section.container nav.left h1 {
}

header section.container nav.left h1 a {
  display: inline-block;
}

header section.container nav.left h1 a img {
  width: 100%;
  display: block;
}

header section.container nav.middle {
}

header section.container nav.middle ul {
  display: flex;
  align-items: center;
}

header section.container nav.middle ul li {
  margin-left: 55px;
}
header section.container nav.middle ul li:first-child {
  margin-left: 0px;
}

header section.container nav.middle ul li a {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
}

header section.container nav.right {
}

header section.container nav.right ul {
  display: flex;
  align-items: center;
}

header section.container nav.right ul li {
  margin-left: 30px;
}
header section.container nav.right ul li:first-child {
  margin-left: 0px;
}
header section.container nav.right ul li a {
  display: inline-block;
}

header section.container nav.right ul li a span {
  display: inline-block;
}

header section.container nav.right ul li a span img {
  width: 100%;
  display: block;
}
header section.container nav.right ul li a span.cart {
  display: inline-block;
  background: #fe8c0a;
  border-radius: 9px;
  padding: 10px 10px;
}

header section.container nav.right ul li a span.cart img {
  width: 100%;
  display: block;
}
#Spotlight {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#Spotlight section.left {
  width: 45%;
}

#Spotlight section.left div.img_container {
}

#Spotlight section.left div.img_container img {
  display: block;
  width: 100%;
}

#Spotlight section.right {
  width: 45%;
  margin-right: 80px;
}

#Spotlight section.right h5 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 35px;
}

#Spotlight section.right h1 {
  font-size: 138px;
  font-weight: 500;
  line-height: 1.05em;
  margin-bottom: 25px;
  font-family: "Playfair Display";
}

#Spotlight section.right h1 br {
}

#Spotlight section.right p {
  font-size: 20px;
  font-weight: 500;
  width: 85%;
  margin-bottom: 70px;
}
#Spotlight section.right div.button {
  display: flex;
}

#Spotlight section.right div.button a.button.left {
  display: inline-block;
  background: linear-gradient(-56deg, transparent 38px, #fe8e0b 0) top right;
  width: 25%;
  font-size: 19px;
  color: #fff;
  font-weight: 500;
  padding: 20px 0px 20px 55px;
  display: inline-block;
  height: 65px;
  border-radius: 10px;
}

#Spotlight section.right div.button a.button.right {
  display: inline-block;
  background: linear-gradient(125deg, transparent 38px, #3a2929 0) top left;
  width: 25%;
  font-size: 19px;
  color: #fff;
  font-weight: 500;
  padding: 22px 20px 20px 72px;
  display: inline-block;
  height: 65px;
  border-radius: 10px;
}

#Spotlight section.right div.two_botton div.black {
}

#Spotlight section.right div.two_botton div.black a.button {
  display: inline-block;
  color: #fff;
  border-radius: 180px 0px 0px 10px / 150px 0px 0px 10px;
  background: #3a2929;
  padding: 18px 18px 18px 50px;
  font-size: 18px;
  font-weight: 600;
}

section#brands {
  padding: 40px 170px 40px 330px;

  background: #f7f4f1;
}

section#brands ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section#brands ul li {
}

section#brands ul li a {
  display: inline-block;
}

section#brands ul li a img {
  display: block;
  width: 100%;
}

section#about {
  padding: 110px 0px;
}

section#about section.background {
  background: #dedddc url(images/about-.png) no-repeat;
  border-radius: 20px;
  height: 82vh;
  display: flex;
  align-items: center;
  background-size: 36%;
  justify-content: space-between;
  background-position: right;
}

section#about section.background div.left_container {
  padding: 20px 0px 20px 70px;
  width: 67%;
}

section#about div.left_container h2 {
  font-size: 70px;
  font-weight: 600;
  margin-bottom: 20px;
}

section#about div.left_container p {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 18px;
  width: 98%;
}
section#about div.left_container p:last-child {
  margin-bottom: 0px;
}
section#about div.left_container a.button {
  display: inline-block;
  background: linear-gradient(-54deg, transparent 39px, #3a2929 0) top right;
  width: 25%;
  font-size: 19px;
  color: #fff;
  font-weight: 500;
  padding: 21px 0px 20px 62px;
  display: inline-block;
  height: 66px;
  border-radius: 10px;
  margin-top: 40px;
}
section#about div.right_container {
  width: 44%;
  height: 650px;
}

section#about div.right_container div.img {
  width: 100%;
  height: 100%;
  display: inline-block;
}

section#about div.right_container div.img img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

section#Content {
}

section#Content section.wrapper {
}

section#Content section.wrapper section.item.one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 100px;
}

section#Content section.wrapper section.item.one section.left {
  width: 45%;
}

section#Content section.wrapper section.item.one section.left div.img_bg {
  width: 100%;
  height: 100%;
  display: inline-block;
}

section#Content section.wrapper section.item.one section.left div.img_bg img {
  display: block;
  width: 100%;
}

section#Content section.wrapper section.item.one section.right {
  position: relative;
  width: 52%;
}

section#Content section.wrapper section.item.one section.right div.img_dot {
  display: inline-block;
  position: absolute;
  bottom: 560px;
  left: 31px;
}

section#Content section.wrapper section.item.one section.right div.img_dot img {
  width: 100%;
  display: block;
  height: 100%;
}

section#Content section.wrapper section.item.one section.right h1 {
  font-size: 70px;
  font-weight: 600;
  margin-bottom: 30px;
}

section#Content section.wrapper section.item.one section.right h1 br {
}

section#Content section.wrapper section.item.one section.right p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 25px;
}
section#Content section.wrapper section.item.one section.right p:last-child {
  margin-bottom: 0;
}
section#Content section.wrapper section.item.one section.right a.button {
  display: inline-block;
  background: linear-gradient(-54deg, transparent 39px, #3a2929 0) top right;
  width: 31%;
  font-size: 19px;
  color: #fff;
  font-weight: 500;
  padding: 21px 0px 20px 54px;
  display: inline-block;
  height: 70px;
  border-radius: 13px;
  margin-top: 40px;
}
#Content {
}

#Content section.wrapper section.item.two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 100px;
}
#Content section.wrapper section.item.two section.left {
  position: relative;
  width: 56%;
}

#Content section.wrapper section.item.two section.left div.img_dot {
  display: inline-block;
  position: absolute;
  bottom: 560px;
  left: 31px;
}

#Content section.wrapper section.item.two section.left div.img_dot img {
  width: 100%;
  display: block;
  height: 100%;
}

#Content section.wrapper section.item.two section.left h1 {
  font-size: 70px;
  font-weight: 600;
  margin-bottom: 30px;
}

#Content section.wrapper section.item.two section.left h1 br {
}

#Content section.wrapper section.item.two section.left p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 25px;
}
#Content section.wrapper section.item.two section.left p:last-child {
  margin-bottom: 0;
}
#Content section.wrapper section.item.two section.left a.button {
  display: inline-block;
  background: linear-gradient(-54deg, transparent 39px, #3a2929 0) top right;
  width: 31%;
  font-size: 19px;
  color: #fff;
  font-weight: 500;
  padding: 21px 0px 20px 54px;
  display: inline-block;
  height: 70px;
  border-radius: 13px;
  margin-top: 40px;
}
#Content section.wrapper section.item.two section.right {
  width: 52%;
}

#Content section.wrapper section.item.two section.right div.img_bg {
  width: 100%;
  height: 100%;
  display: inline-block;
}

#Content section.wrapper section.item.two section.right div.img_bg img {
  display: block;
  width: 100%;
}

#Content section.item.three {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 100px;
}

#Content section.item.three section.left {
  width: 46%;
}

#Content section.item.three section.left div.img_bg {
  display: inline-block;
}

#Content section.item.three section.left div.img_bg img {
  width: 100%;
  height: 100%;
  display: block;
}

#Content section.item.three section.right {
  position: relative;
  width: 48%;
}

#Content section.item.three section.right div.img_dot {
  position: absolute;
  bottom: 480px;
  right: 30px;
}

#Content section.item.three section.right div.img_dot img {
  width: 100%;
  height: 100%;
  display: block;
}

#Content section.item.three section.right h1 {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 30px;
}

#Content section.item.three section.right h1 br {
}

#Content section.item.three section.right form {
  width: 80%;
  display: flex;
  border-radius: 6px;
  justify-content: space-around;
}

#Content
  section.wrapper
  section.item.three
  section.right
  form
  input[type="text"] {
  background: #fbfafb;
  width: 60%;
  padding: 23px 20px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 500;
}
#Content
  section.wrapper
  section.item.three
  section.right
  form
  input[type="submit"] {
  cursor: pointer;
  background: #3a2929;
  border-radius: 12px;
  width: 26%;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
}

section#blog {
  padding: 100px 0px;
}

section#blog section.wrapper {
}

section#blog section.wrapper h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 50px;
}

section#blog section.wrapper ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

section#blog section.wrapper ul li {
  margin-left: 50px;
  width: 32%;
}
section#blog section.wrapper ul li:first-child {
  margin-left: 0px;
}
section#blog section.wrapper ul li div.img_blog {
  display: inline-block;
  width: 100%;
  height: 350px;
}

section#blog section.wrapper ul li div.img_blog img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

section#blog section.wrapper ul li h5 {
  font-size: 28px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 30px;
}

section#blog section.wrapper ul li p {
  font-size: 21px;
  font-weight: 500;
}

footer {
  background: #dadade url(images/footer.jpg) no-repeat;
  display: block;
  height: 55vh;
  align-items: center;
  background-size: 18%;
  background-position: right;
  display: flex;
  align-items: center;
}

footer section.wrapper {
}
footer section.content {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
footer section.content div.left {
  display: flex;
  width: 18%;
}
footer section.content div.left div.social {
}

footer section.content div.left div.social h4 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}

footer section.content div.left div.social h4 a {
  display: inline-block;
  font-weight: 600;
  font-size: 30px;
}

footer section.content div.left div.social span {
  display: inline-block;
  width: 90%;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

footer section.content div.left div.social small {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 40px;
}

footer section.content div.left div.social div.logocontainer {
  text-align: center;
}

footer section.content div.left div.social div.logocontainer ul {
  display: flex;
  justify-content: space-evenly;
}

footer section.content div.left div.social div.logocontainer ul li {
}

footer section.content div.left div.social div.logocontainer ul li a {
  display: inline-block;
}

footer section.content div.left div.social div.logocontainer ul li a span {
  display: inline-block;
  background: #ff8f0d;
  border-radius: 9px;
  padding: 5px;
  width: 40px;
}

footer section.content div.left div.social div.logocontainer ul li a span img {
  width: 100%;
  display: block;
  height: 100%;
}
footer section.content div.right {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}
footer section.content div.right div.blog {
}

footer section.content div.right div.blog h5 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

footer section.content div.right div.blog ul {
}

footer section.content div.right div.blog ul li {
  margin-bottom: 20px;
}

footer section.content div.right div.blog ul li a {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
}

footer section.content div.right div.About {
}

footer section.content div.right div.About h5 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

footer section.content div.right div.About ul {
}

footer section.content div.right div.About ul li {
  margin-bottom: 20px;
}

footer section.content div.right div.About ul li a {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
}

footer section.content div.right div.image {
}

footer section.content div.right div.image img {
}
footer section.content div.right div.Product {
}

footer section.content div.right div.Product h5 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

footer section.content div.right div.Product ul {
}

footer section.content div.right div.Product ul li {
  margin-bottom: 20px;
}

footer section.content div.right div.Product ul li a {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
}
